/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(158, 242, 210);
}
.name {
    height: 20px;
    width: 50px;
    margin: 10px;
    font-size: 40px;
    font-family: 'Dancing Script', cursiva;
    color: whitesmoke;
    cursor: pointer;
}
.btn {
    margin-left: 180px;
    display: inline-block;
    padding: 5px 15px;
    background-color: rgb(188, 106, 229);
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Dancing Script', cursiva;
    color: whitesmoke;
}


